/* esta es la hoja de estilos del html y con ella se le da forma, se centra y tamaño al archivo*/
body{
	background: url(../image/fondo4.gif) no-repeat;
	background-attachment: fixed;
	background-size : cover;
	color:navy; 
}
/* el body es el que le da estilo al fondo de la pagina  y letras en general en mi caso las 
letras del script*/

div{
	width: 300px;
	height: 180px;
	background:fuchsia;
	color: #fff;
	margin: 20px 50px;
	padding: 30px;
	border: 10px solid #fff;
	display:inline-block;
}

/*el div le da estilo al poema que encerre en un div, con el cual cree una caja donde encerre
el poema para darle un toque diferente*/

.caja {
	position:relative;
	top:0;
	bottom:0;
	right:0;
	left:100px;
}
/* todos los que son .algo son clase que se le cree a las distintas imagenes y versos de la pagina
para poderlos mover de lugar con el ccs y que no quedaran montados uno encima del otro*/
.contenedor {
	text-align: center;
	position:relative;
	top:-20;
	bottom:0;
	right:0;
	left:70px;
}
.oso {
	position:relative;
	top:-64px;
	bottom:0;
	right:0;
	left:180px;
}

p {
	text-align: justify;
	font-family:Arial, Helvetica, Verdana, Sans-serif, " Myriad Pro "; 
	/*es para agregar el tipo de letra */
	font-size:15px;
	font-weight:bold;
}
/* p es para darle un tipo de letra y como deseo posicionarlo dentro de la pagina*/

cite{
	color:royalblue;
	font-weight:bold;
	font-size:18px;
}
/*la cite la hice para cambiarle el color a la letra del autor ()mi nombre) y su tamaño*/

h1{

	text-align: center;
	color:firebrick;
	font-weight:bold;
	font-size:40px;
}
/* las h son titulos que  tiene la pagina y le agregue color y los posicione  en el centro*/
h2{

	text-align: center;
	color: purple;
	font-weight:bold;
	font-size:25px;
}

blockquote{
	
	text-indent:25px;
	text-align: justify;
	color:black;
	font-weight:normal;
	font-size:15px;
}

/* los .formulario son los que conforman el formulario de la pagina y con ello le di la imagen 
posee actualmente*/

.formulario{
	width: 500px;
	max-width: 100%;
	margin: auto;
	margin-top: 30px;
	padding: 0 0 20px 10px rgba(0,0,0,0.7);
    position: relative;

}
.formulario__titulo{
	text-align: center;
	margin-top: 0;
	color:darkred;

}
.formulario__input, .formulario__label, .formulario__submit{
	display: block;
	width: 100%;
	font-size: 1.3em;

}
.formulario__input{
	padding: 20px;
	background:rgba(255, 0, 0, 0.336);
	border: 2px solid fuchsia;
	margin-bottom: 40px;
    text-align:right;

}
.formulario__input:focus + .formulario__label{
   
	margin-top: -140px;

}
.formulario__label{
	padding-left: 20px;
	position: absolute;
	margin-top: -85px;
	z-index: -20;
	color:black;
	transition: all 0.2s; 

}
.formulario__submit{
	background:rgba(255, 0, 0, 0.733);
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	border: 2px solid firebrick;
    align-content: center;
}
.Carolina{
	width: 350px;
	height: 20px;
	background:palevioletred;
	color:purple;
	padding: 0px;
	border: 5px solid white;
	align-content: center;
	text-align: center;
	margin-top:-20px;
}
.osi{
	color:blue;
}