/* esta es la hoja de estilos del html y con ella se le da forma, se centra y tamaño al archivo*/
body{
	background: url(../image/fondo4.gif) no-repeat;
	background-attachment: fixed;
	background-size : cover;
	color: #000; 
}


div{
	width: 300px;
	height: 180px;
	background:fuchsia;
	color: #fff;
	margin: 20px 50px;
	padding: 30px;
	border: 10px solid #fff;
	display:inline-block;
}

.caja {
	position:relative;
	top:0;
	bottom:0;
	right:0;
	left:100px;
}

.contenedor {
	text-align: center;
	position:relative;
	top:-20;
	bottom:0;
	right:0;
	left:70px;
}
.oso {
	position:relative;
	top:-64px;
	bottom:0;
	right:0;
	left:180px;
}

p {
	text-align: justify;
	font-family:Arial, Helvetica, Verdana, Sans-serif, " Myriad Pro "; /*es para agregar el tipo de letra */
	font-size:15px;
	font-weight:bold;

}

cite{
	color:rebeccapurple;
	font-weight:bold;
	font-size:18px;
}

h1{

	text-align: center;
	color:firebrick;
	font-weight:bold;
	font-size:40px;
}

h2{

	text-align: center;
	color: purple;
	font-weight:bold;
	font-size:25px;
}

blockquote{
	
	text-indent:25px;
	text-align: justify;
	color:black;
	font-weight:normal;
	font-size:15px;
}


.formulario{
	width: 500px;
	max-width: 100%;
	margin: auto;
	margin-top: 30px;
	padding: 0 0 20px 10px rgba(0,0,0,0.7);
    position: relative;

}
.formulario__titulo{
	text-align: center;
	margin-top: 0;
	color:darkred;

}
.formulario__input, .formulario__label, .formulario__submit{
	display: block;
	width: 100%;
	font-size: 1.3em;

}
.formulario__input{
	padding: 20px;
	background: rgba(0,0,0,0.09);
	border: 1px solid rgba(0,0,0,0.8);
	margin-bottom: 40px;
    text-align:right;

}
.formulario__input:focus + .formulario__label{
   
	margin-top: -140px;

}
.formulario__label{
	padding-left: 20px;
	position: absolute;
	margin-top: -85px;
	z-index: -20;
	color: rgba(0,0,0,0.9);
	transition: all 0.2s; 

}
.formulario__submit{
	background: rgba(0,0,0,0.7);
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	border: none;
    align-content: center;
}
.Carolina{
	width: 350px;
	height: 20px;
	background:palevioletred;
	color:purple;
	padding: 0px;
	border: 5px solid white;
	align-content: center;
	text-align: center;
	margin-top:-20px;
}
.osi{
	color:red;
}